* {
    padding: 0px;
    margin: 0px;
}

body,
html {
    height: 100%;
}

.nava {
    z-index: 2;
    position: absolute;
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 140px;
}

.nava a {
    color: white;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    font-size: 20px;
    padding: 13px 25px 10px 25px;
}

.nava a:hover {
    background-color: black;
    text-decoration: none;
    color: rgb(241, 209, 122);
}

.yapıskan {
    top: 0px;
    position: fixed;
    width: 100%;
    height: 15%;
    left: 0;
    background-color: black !important;
    z-index: 1999;
}

.gorsel {
    height: 100%;
    background-color: lightblue;
    background-size: cover;
    background-attachment: fixed;
}

.bant {
    height: 60%;
    background-color: lightgreen;
}

#gor1 {
    background-image: url("img/1.jpg")
}

#gor2 {
    background-image: url("img/2.jpg")
}

#gor3 {
    background-image: url("img/3.jpg")
}

.anaSayfa {
    position: absolute;
    float: left;
}

.anaYazi {
    width: 100%;
    height: 100%;
    z-index: 1;
    text-align: center;
    margin-top: 230px;
    color: #fff;
}

.anaYazi h1 {
    font-family: 'Chilanka', cursive;
    font-size: 70px;
    color: rgb(241, 209, 122);
}

.anaYazi p {
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 20px;
}

.anaYazi span {
    font-family: 'Chilanka', cursive;
    color: black;
    padding: 10px 10px;
    background-color: rgb(241, 209, 122);
    font-size: 19px;
    border: 1px solid rgb(243, 190, 45);
    border-radius: 4px;
}

.anaYazi span:hover {
    background-color: #fff;
    color: rgb(243, 190, 45);
}

.anaFiltre {
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 0;
    opacity: 0.54;
}

#bant1 {
    background-color: rgb(119, 119, 129);
}

.hakkimiz h1 {
    text-align: left;
    padding: 30px 10px 0px 0px;
    color: rgb(39, 39, 88);
    font-family: 'Playfair Display', serif;
}

.hakkimiz hr {
    background-color: rgb(39, 39, 88);
    height: 2px;
    margin-top: 0px;
    width: 210px;
}

.hakkimiz p {
    height: 60px;
    width: 500px;
    color: rgb(214, 208, 208);
    font-family: 'Dancing Script', cursive;
}

.atli {
    height: 100%;
    /*width: 300px;*/
    margin-left: 370px;
    margin-top: 110px;
    ;
}

#demo img {
    height: 220px;
    width: 400px;
}

#demo {
    border: 3px solid rgb(39, 39, 88);
    border-radius: 2px;
    box-shadow: 5px 5px 4px #000;
}

.work {
    position: absolute;
    z-index: 4;
    width: 100%;
}

.work h1 {
    position: relative;
    color: #fff;
    text-align: center;
    padding: 30px 10px 0px 0px;
    font-family: 'Playfair Display', serif;
}

#wrapper {
    margin-top: 500px;
}

#inner {
    width: 60%;
    min-width: 300px;
    max-width: 800px;
    position: absolute;
    bottom: -50px;
    left: 23%;
}

#carousel-wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: rgb(241, 235, 235);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#carousel {
    width: 800px;
    height: 500px;
    overflow: hidden;
}

#carousel img {
    display: block;
    float: left;
}

#pager-wrapper {
    height: 120px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: -35px;
    left: 0;
    z-index: 2;
}

#pager img {
    cursor: pointer;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: block;
    width: 80px;
    height: 80px;
    padding: 10px;
    margin: 10px;
    float: left;
}

#pager img:hover {
    background: rgb(82, 107, 136);
}

#pager img.selected {
    background: rgb(82, 107, 136);
}

#bant2 {
    background-color: rgb(87, 108, 202);
    height: 600px;
}

.hizmet {
    height: 100%;
    width: 100%;
}

.hizmet h1 {
    text-align: center;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
}

.card {
    margin-top: 40px;
    margin-right: 20px;
    width: 300px;
    height: 400px;
}

.card img {
    height: 200px;
}

.card-body {
    background-color: rgb(248, 236, 220);
    color: rgb(126, 52, 3);
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
}

.galeri {
    position: absolute;
    z-index: 5;
    width: 100%;
}

.galeri h1 {
    position: relative;
    color: #fff;
    text-align: center;
    padding: 30px 10px 0px 0px;
    font-family: 'Indie Flower', cursive;
}